<!-- index.html-->

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blackboard Assistant</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- custom css -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/simple-sidebar.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="nav sidebar-nav" role="tablist">
                <li role="presentation" class="sidebar-brand active">
                    <a href="#hometab" aria-controls="hometab" role="tab" data-toggle="tab">
                        Blackboard Assisstant
                    </a>
                </li>
                <li role="presentation" class="sidebar-brand">
                    <a href="#Classlist" aria-controls="Classlist" role="tab" data-toggle="tab">Classlist</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="hometab">
                <div class="row">
                        <h1 class="BBheader">Blackboard Assisstant</h1>
                        <div class="introtextbox">
                          <p>This tool allows you to set up and automate tedious tasks on your Blackboard homepage</p>
                          <p>provide your blackboard information</p>
                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal"  style="padding-bottom: 7px;margin-bottom: 20px;     margin-left: 2%;">
                            Log in
                          </button>
                          <!-- Modal -->
                          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  <h4 class="modal-title" id="myModalLabel">Blackboard Login</h4>
                                </div>
                                <div class="modal-body">
                                  <form class="form-horizontal">
                                    <div class="form-group">
                                      <label class="col-sm-2 control-label">Email</label>
                                      <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail" placeholder="mickeymouse@disney.com">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                                      <div class="col-sm-10">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                      </div>
                                    </div>
                                  </form>

                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-primary" onclick="save()" data-dismiss="modal">Save changes</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <p>Then check all the boxes that apply in each section</p>
                          <a href="#menu-toggle" class="btn btn-default" id="menu-toggle" style="margin-left: 2%;">Get Started!</a>
                        </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Classlist">
              <div class="row">
                <div id="_4_1termCourses_noterm" style="text-align: left">
                  <h3 id="anonymous_element_8">Courses where you are: Instructor</h3>
                  <ul class="portletList-img courseListing coursefakeclass ">
                  <br />
                  <input type="checkbox" class="faChkRnd" id="course1"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357234_1&amp;url=" target="_top">DEV PHY 132 (2017 Fall)</a></input>

                   <br />

                  <input type="checkbox" class="faChkRnd" id="course2"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_355735_1&amp;url=" target="_top">DEV PHY 132 (2017 Fall)</a></input>

                   <br />

                  <input type="checkbox" class="faChkRnd" id="course3"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_333430_1&amp;url=" target="_top">PHY 114: General Physics Laboratory (2016 Fall)-72628</a></input>

                   <br />


                  </ul>
                          <h3 id="anonymous_element_9">Courses where you are: Student</h3>
                          <ul class="portletList-img courseListing coursefakeclass ">
                               <br />


                  <input type="checkbox" class="faChkRnd" id="course4"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_249343_1&amp;url=" target="_top">EHS Fire Safety &amp; Prevention Annual Course</a></input>

                   <br />

                  <input type="checkbox" class="faChkRnd" id="course5"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_214380_1&amp;url=" target="_top">EHS Hazardous Waste Management Refresher</a></input>

                   <br />

                  <input type="checkbox" class="faChkRnd" id="course6"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_287329_1&amp;url=" target="_top">MSBA Student Group</a></input>

                   <br />

                  <input type="checkbox" class="faChkRnd" id="course7"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_345471_1&amp;url=" target="_top">PHI 314: Philosophy of Science (2017 Spring)</a></input>

                  </ul>
                </div>
              </div>
            </div>
            <div>

            </div>
        </div>

        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <!-- Bootstrap core and javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"><\/script>')</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='jquery.js')}}"></script>
    <script type="text/javascript">
      $('#myTabs a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
      })
  </script>
  <script type="text/javascript"> </script>

    <script src="{{url_for('static', filename='scripts/javascript.js')}}"></script>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
